.git/
.gitignore
./frontend/next/                # Existing Next.js builds
.dockerignore
./dockerfiles
docker-compose.yml
./frontend/node_modules/         # Installed inside container

# from asp.net
#**/.classpath
#**/.dockerignore
#**/.env
#**/.git
#**/.gitignore
#**/.project
#**/.settings
#**/.toolstarget
#**/.vs
#**/.vscode
#**/*.*proj.user
#**/*.dbmdl
#**/*.jfm
#**/azds.yaml
#**/bin
#**/charts
#**/docker-compose*
#**/Dockerfile*
#**/node_modules
#**/npm-debug.log
#**/obj
#**/secrets.dev.yaml
#**/values.dev.yaml
#LICENSE
#README.md